/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-regular.woff') format('woff');
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-700.woff') format('woff');
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-900.woff') format('woff');
}

html{
    box-sizing: border-box;
}
*,*::before, *::after{
    box-sizing: inherit;
}
.header{
    background-color: aqua;
}
/* .logo{
   fill: blue;
}  */