/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-regular.woff') format('woff');
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-700.woff') format('woff');
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
       url('../fonts/lato-v23-latin-900.woff') format('woff');
}
:root {
    /* --accent-color: #2196f3; */
    --accent-text-color: #102746;
    --secondary-text-color: #ffffff;
    --primary-text-color:  #000000;
    --hover-color: #b0b0b0;
    /* --secondary-background-color: #2f303a; */
    --button-color: #1B7DFF;
    --hover-btn-color: #176fe3;
    /* --tertiary-background-color: #f5f4fa; */
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
   font-family: 'lato';
}

.link{
  text-decoration: none;
}

/*----------- header styles start --------- */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.wrapper{
  max-width: 1060px;
  margin: 0 auto;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header__logo-icon{
  fill: var(--secondary-text-color);
}
.header__logo-icon:hover, .header__logo-icon:focus{
  fill: var(--hover-color);
}

.header__list{
  display: flex;
  flex-wrap: wrap;
}

.header__item{
  margin-right: 82px;
}

.header__item:last-child{
  margin-right: 0;
}

.header__link{
  font-size: 18px;
  line-height: 1.3;
  color: var(--secondary-text-color);
  padding-top: 6px;
}

.header__link:hover, .header__link:focus, .header__link:active{
  color: var(--hover-color);
  cursor: pointer;
}
/*----------- header styles end --------- */

/*-------- intro styles start --------*/
.intro{
  min-height: 100vh;
  background-image:
        url(../img/introbg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 263px;
}

.intro__titel{
  max-width: 619px;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  margin-bottom: 22px;
}

.intro__subtitel{
  max-width: 546px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--secondary-text-color);
  margin-bottom: 59px;
}

.search-form__info{
  display: flex;
  flex-wrap: wrap;
}

.search-form__field{
  width: 297px;
  background:
        transparent url(../img/svg/circle-icon.svg) no-repeat left 6px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  outline: 0;
  outline-offset: 0;
}

.search-form__field::placeholder{
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  color: var(--secondary-text-color);
}

.search-form__submit{
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  color: var(--secondary-text-color);
  background: var(--button-color);
  border-width: 0;
}

.search-form__submit:hover, .search-form__submit:focus{
  background: #176fe3;
  cursor: pointer;
}
/*-------- intro styles end --------*/
